In [14]:
#Function with parameters
def greet(name):
    print("Hello",name)

greet("Laxman")

Hello Laxman

In [5]:
def square(num):
    return num**2

square(888)

788544

In [7]:
#Function with default parameter
def greet_with_default(name="Laxman"):
    print(name)

greet_with_default()
greet_with_default(name="Shristi")

Laxman
Shristi

In [12]:
#Function with multiple values
def min_max(num):
    return min(num),max(num)

num=[2,5,88,9,40,10,55]
print("Minimum",min(num))
print("Maximum",max(num))

Minimum 2
Maximum 88

In [13]:
#Recursive function to calculate factorial
def factorial(n):
    if n==0:
        return 1
    else:
        return n*factorial(n-1)

print("Factorial of 5:",factorial(5))

Factorial of 5: 120

In [19]:
#Function with variable number of arguments
def sum(*arg):
    total=0
    for num in arg:
        total+=num
    return total

print(sum(1,3,5,7))

16

In [21]:
#Lambda expression or function
square=lambda x:x**2
print(square(555))

308025

In [22]:
sum=lambda x,y:x+y
print(sum(10,55))

65

In [23]:
#Sorting based on the length of the name
names=["Laxman","Sujen","Rijan","Sagar","Abishek"]
sorted_names=sorted(names,key=lambda name:len(name))
print(sorted_names)

['Sujen', 'Rijan', 'Sagar', 'Laxman', 'Abishek']

In [24]:
#Find the even numbers in a list
numbers=[5,10,15,20,25,30,35,40]
even_numbers=list(filter(lambda x:x%2==0,numbers))
print(even_numbers)

[10, 20, 30, 40]

In [26]:
#Mapping a function to a list using lambda function
numbers=[1,2,3,4,5,6,7,8,9,10]
squared_list=list(map(lambda x:x**2,numbers))
print(squared_list)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [31]:
#List methods
list=[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
#append
list.append(121)
print(list)
#pop(): Remove and return the last elements from a list
list.pop()
print(list)
#sort
new_list=[5,55,47,66,89,69,100,555]
new_list.sort()
print(new_list)
#reverse
new_list.reverse()
print(new_list)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121]
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
[5, 47, 55, 66, 69, 89, 100, 555]
[555, 100, 89, 69, 66, 55, 47, 5]

In [35]:
#Dictionary method
dict={"Apple":10,"Banana":12,"Mango":5}
#key() returns the view of all keys of a dictionary
print(dict.keys())
#values() returns the view of all values of a dictionary
print(dict.values())
#items() returns the view of all key-value pairs of a dictionary
print(dict.items())
#get() returns the view of specified key or return default values if not found
print(dict.get("Apple"))

dict_keys(['Apple', 'Banana', 'Mango'])
dict_values([10, 12, 5])
dict_items([('Apple', 10), ('Banana', 12), ('Mango', 5)])
10