In [1]:
print("Laxman Maharjan")

Laxman Maharjan

In [4]:
x=5
y="Laxman"
print(x)
print(y)

5
Laxman

In [6]:
print(f"{y} has {x} gfs.")

Laxman has 5 gfs.

In [10]:
print("{} has {} gfs." .format(y,x))

Laxman has 5 gfs.

In [13]:
print(y+"has"+str(x)+"gfs.")

Laxmanhas5gfs.

In [16]:
print("%s has %d gfs."%(y,x))

Laxman has 5 gfs.

In [17]:
x

5

In [22]:
x=5
y=10
print(f"The addition of x and y is {x+y}.")
print(y-x)
print(x*y)
print(y/x)
print(y%x)

The addition of x and y is 15.
5
50
2.0
0

In [23]:
print('Single Quoted')
print("Double Qiuoted")

Single Quoted
Double Qiuoted

In [25]:
string="Laxman"
concatenated_string=string+"Maharjan"
print(concatenated_string)

LaxmanMaharjan

In [26]:
uppercase_string=concatenated_string.upper()
print(uppercase_string)

LAXMANMAHARJAN

In [28]:
lowercase_string=concatenated_string.lower()
print(lowercase_string)

laxmanmaharjan

In [2]:
word="University of Sunderland"
sliced_word=word[4:10]
print(sliced_word)

ersity

In [6]:
word_space="         Kathmandu University    "
print(word_space.strip())

Kathmandu University

In [8]:
word_list=["Laxman","Samjhana","Shristi","Saru","Arun"]
sentence=" ".join(word_list)
print(sentence)

Laxman Samjhana Shristi Saru Arun

In [10]:
sentence="Laxman Maharjan"
replaced_string=sentence.replace("Laxman","Shristi")
print(replaced_string)

Shristi Maharjan

In [12]:
sentence="My name is Laxman Maharjan"
index=sentence.find("Laxman")
print(index)

11

In [15]:
fav_actress=["Upashna Singh Thakuri","Jasita Gurung","Miruna Magar"]
print(fav_actress[0])
print(len(fav_actress))

Upashna Singh Thakuri
3

In [16]:
list1=["Laxman","Abishek","Rijan"]
list2=[5,10,15]
list3=[True,False,True]
list4=["Laxman",5,True]
print(list1)
print(list2)
print(list3)
print(list4)

['Laxman', 'Abishek', 'Rijan']
[5, 10, 15]
[True, False, True]
['Laxman', 5, True]

In [18]:
print(type(list4))

<class 'list'>

In [22]:
nested_list=["Laxma","Shristi","Rebecca",[5,10,15]]
print(nested_list)
print(nested_list[3][2])

['Laxma', 'Shristi', 'Rebecca', [5, 10, 15]]
15

In [25]:
student={"Name":"Laxman Maharjan","College":"ISMT","Address":"Lalitpur"}
print(student)
print(student["Name"])

{'name': 'Laxman Maharjan', 'College': 'ISMT', 'Address': 'Lalitpur'}
Laxman Maharjan

In [26]:
student["Year"]=2024
print(student)

{'name': 'Laxman Maharjan', 'College': 'ISMT', 'Address': 'Lalitpur', 'Year': 2024}

In [27]:
student["Year"]=2023
print(student)

{'name': 'Laxman Maharjan', 'College': 'ISMT', 'Address': 'Lalitpur', 'Year': 2023}

In [29]:
if "College" in student:
    del student["College"]
    print(student)

{'name': 'Laxman Maharjan', 'Address': 'Lalitpur', 'Year': 2023}

In [30]:
car_dict=dict(name="T 500",company="Tesla",price=100000)
print(car_dict)

{'name': 'T 500', 'company': 'Tesla', 'price': 100000}

In [5]:
print("\nExample 1: Comparing values:")
print("Is 100 smaller than 50?", 50>100)
print("Is 100 greater than 150?", 100==150)

Example 1: Comparing values:
Is 100 smaller than 50? False
Is 100 greater than 150? False

In [6]:
x=50
y=100
if x>y:
    print(f"{x} is greater than {y}.")
else:
    print(f"{y} is greater than {x}.")

100 is greater than 50.

In [10]:
print("Is 'Hello' true?",bool("Hello"))

Is 'lam' true? True

In [8]:
x="Hi"
y=25
print("Is x true?",bool(x))
print("Is y true?",bool(y))

Is x true? True
Is y true? True

In [12]:
def is_even(num):
    return num%2==0

print("Is 20 even?",is_even(20))
print("Is 15 even?",is_even(15))

Is 20 even? True
Is 15 even? False

In [16]:
fav_movie=("Titanic","Alita","Coco")
print(fav_movie[0])

Titanic

In [17]:
x,y,z=fav_movie
print(x,y,z)

Titanic Alita Coco

In [18]:
for item in fav_movie:
    print(item)

Titanic
Alita
Coco

In [19]:
first_tuple=("Apple","Banana","Mango")
second_tuple=("Potato","Cauli","Onion")
joined_tuple=first_tuple+second_tuple
print(joined_tuple)

('Apple', 'Banana', 'Mango', 'Potato', 'Cauli', 'Onion')

In [20]:
first_set={"Apple","Banana","Mango"}
first_set.add("Orange")
print(first_set)

{'Apple', 'Orange', 'Mango', 'Banana'}

In [21]:
first_set.update(["Pineapple","Papaya"])
print(first_set)

{'Mango', 'Papaya', 'Orange', 'Pineapple', 'Banana', 'Apple'}

In [22]:
first_set.remove("Pineapple")
print(first_set)

{'Mango', 'Papaya', 'Orange', 'Banana', 'Apple'}

In [27]:
a=-5
b=-10
c=0
if a>=b and a>=c:
    print(f"{a} is the greatest number.")
elif b>=a and b>=c:
    print(f"{b} is the greatest number.")
else:
    print(f"{c} is the greatest number.")

0 is the greatest number.

In [35]:
year=1941
if (year%4==0):
    print("Leap year")
else:
    print("Not leap year")

Not leap year

In [36]:
month="May"
if month in ["Jan","Feb","March","May"]:
    print("Rainy")
elif month in ["Sep","Oct","Nov"]:
    print("Autumn")
else:
    print("Summer")

Rainy