In [1]:
import datetime
print("Welcome! Today's date and time is:", datetime.datetime.now())

Welcome! Today's date and time is: 2024-05-13 14:34:59.064531

In [2]:
for i in range(1, 11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [3]:
str_num = "10"
int_num = int(str_num)
float_num = float(str_num)
print(int_num)
print(float_num)

10
10.0

In [4]:
int_value = 123
str_value = str(int_value)
print(str_value)

123

In [6]:
import math

# Arithmetic operations
result_add = 5 + 3
result_sub = 7 - 2
result_mul = 4 * 6
result_div = 10 / 2
print(result_add)

8

In [7]:
sqrt_value = math.sqrt(25)
print(sqrt_value)

5.0

In [8]:
# Calculate the natural logarithm (base e) of a number
x = 10
log_value = math.log(x)
print("Natural logarithm of", x, ":", log_value)

Natural logarithm of 10 : 2.302585092994046

In [9]:
# Calculate the logarithm of a number with a specified base (e.g., base 10)
log_base_10 = math.log10(x)
print("Logarithm base 10 of", x, ":", log_base_10)

Logarithm base 10 of 10 : 1.0

In [10]:
# Calculate trigonometric functions (sine, cosine, tangent) in radians
angle_radians = math.radians(45)  # Convert angle from degrees to radians
sin_value = math.sin(angle_radians)
cos_value = math.cos(angle_radians)
tan_value = math.tan(angle_radians)
print("Sine of 45 degrees:", sin_value)
print("Cosine of 45 degrees:", cos_value)
print("Tangent of 45 degrees:", tan_value)

Sine of 45 degrees: 0.7071067811865476
Cosine of 45 degrees: 0.7071067811865476
Tangent of 45 degrees: 0.9999999999999999

In [4]:
# Extract a substring from a given string.
sentence = "This is a sentence."
substring = sentence[5:7]
print(substring)

is

In [7]:
# Convert a string to uppercase or lowercase.
uppercase_str = "hello".upper()
lowercase_str = "WORLD".lower()
print(uppercase_str)
print(lowercase_str)

HELLO
world

In [12]:
numbers = [23, 45, 12, 67, 89, 34, 56, 78, 90]

# Calculate the sum of the elements
sum_of_numbers = sum(numbers)
print(sum_of_numbers)

# Calculate the mean (average) of the elements
mean_of_numbers = sum_of_numbers / len(numbers)
print(mean_of_numbers)

# Calculate the median of the elements
sorted_numbers = sorted(numbers)
n = len(numbers)
if n % 2 == 0:
    median_index = n // 2
    median = (sorted_numbers[median_index - 1] + sorted_numbers[median_index]) / 2
else:
    median_index = n // 2
    median = sorted_numbers[median_index]

print(median_index)
print(median)

494
54.888888888888886
4
56